* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

button {
  width: 10rem;
  height: 3rem;
  margin-top: 3rem;
}

textarea {
  padding: 3rem;
  margin-top: 3rem;
  height: 20rem;
}
