* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.hud {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
  font-size: 18px;
}

.game {
  width: 600px;
  height: 400px;
  background: #020617;
  border: 2px solid #38bdf8;
  margin: 0 auto 20px;
  position: relative; /* IMPORTANT */
  overflow: hidden;
}

.alien {
  width: 50px;
  height: 50px;
  background: #22c55e;
  border-radius: 50%;
  position: absolute; /* IMPORTANT */
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
